<!--QUESTION -->

<div class="question-container">

	<div class="votes-container">
		<%= erb :"_votes", layout: false, locals: { votable: @question, votable_type: @question.class, votable_id: @question.id}  %>
	</div> <!-- votes-container end -->

	<%= @question.title %><br>
    <%= @question.body %><br>

	<p class="author">
      Asked by: <%= @question.author.name %>
    </p>

    <div class="comment-container">
    	<% erb :"_comments", layout: false, locals: { commentable: @question } %>
    </div> <!-- comment-container end -->

</div> <!-- question-container end -->



<!-- ANSWERS -->



	<% @question.answers.each do |answer| %>
	<!-- one answer -->
		<div class="answer">
			<div class="votes-container">
				<%= erb :"_votes", layout: false, locals: { votable: answer, votable_type: answer.class, votable_id: answer.id}  %>
			</div> <!-- votes-container end --> 
			<p class="answer-body">
			<%= answer.body %><br>
			<span class="author">
				Posted by: <%= answer.user.name %><br>
				</span>
			</p>
		</div> <!-- answer end -->

	<div class="comments-container">
		<%= erb :"_comments", layout: false, locals: { commentable: answer } %>
	</div> <!-- comments-container end -->
	<% end %>






<div class="answer-submit-container">
	<% if logged_in? %>
		<form action="/answers" method="POST">
	        <input type="hidden" name="question_id" value="<%= @question.id %>">
	        <input type="textarea" name="answer" value="answer">
	        <input type="submit" value="Submit">
  		</form>
  	<% end %>
</div> <!-- answer-submit-container end -->