<div class="questions-show-container">
  <div class="votes-container">
    <%= erb :"_votes", layout: false, locals: { votable: @question, votable_type: @question.class, votable_id: @question.id}  %>
  </div>

  <div class="questions-full">
    <%= @question.title %><br>
    <%= @question.body %><br>
    <p class="author">
      Asked by: <%= @question.author.name %>
    </p>
  </div>

  <div class="comments-container">
<!--     = erb :"_comments", layout: false, locals: { commentable: @question } -->
  </div>

  <div class="answers-container">
    <% @question.answers.each do |answer| %>
    <div class="votes-container">
      <%= erb :"_votes", layout: false, locals: { votable: answer, votable_type: answer.class, votable_id: answer.id}  %>
    </div>
      <%= answer.body %><br>
      <%= answer.user.name %><br>

      <!-- = erb :"_comments", layout: false, locals: { commentable: answer }  -->
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="answer-form">
      <form action="/answers" method="POST">
        <input type="hidden" name="question_id" value="<%= @question.id %>">
        <input type="textarea" name="answer">
        <input type="submit" value="Submit">
      </form>
    </div>
  <% end %>
</div>
