<% commentable.comments.each do |comment| %>
	<div class="comment"> 
		
		<div class="votes-container">
			<%= erb :"_votes", layout: false, locals: { votable: comment, votable_type: comment.class, votable_id: comment.id}  %>
			</div> <!-- votes-container div end -->
			<p class="comment-body">
				<%= comment.body %><br>
				<span class="author">
					Posted by: <%= comment.commenter.name%>
				</span>
			</p>
	</div> <!-- comment div end -->
<% end %>

<div class="add-comment-container">
  <form action="/comments/new" method="GET">
    <input type="hidden" name="commentable_type" value=<%= @question.class %>>
    <input type="hidden" name="commentable_id" value=<%= @question.id %>>
    <input type="submit" value="add a comment">
  </form>
</div> <!-- add-comment-container div end -->