<form class="vote upvote" action="/votes" method="POST">
  <input type="hidden" name="votable_id" value="<%= votable_id %>">
  <!-- <div>VOTABLE</div>
  <p><%= votable %></p> -->
  <input type="hidden" name="vote" value="1">
  <input type="hidden" name="votable_type" value="<%= votable_type %>">
  <button type="submit" name="updoot", class=" vote-button upvote-button"><i class="fa fa-sort-desc"></i></button>
</form>

<span id="vote_count"><%= vote_count(votable) %></span>

<form class="vote downvote" action="/votes" method="POST">
  <input type="hidden" name="votable_id" value="<%= votable_id %>">
  <input type="hidden" name="vote" value="-1">
  <input type="hidden" name="votable_type" value="<%= votable_type %>">
  <button  type="submit" name="downdoot", class="vote-button upvote-button"><i class="fa fa-sort-down"></i></button>
</form>
