<form class="vote upvote" action="/votes" method="POST">
  <input type="hidden" name="votable_id" value="<%= votable_id %>">
  <!-- <div>VOTABLE</div>
  <p><%= votable %></p> -->
  <input type="hidden" name="vote" value="1">
  <input type="hidden" name="votable_type" value="<%= votable_type %>">
  <input type="submit" name="updoot", class="fa fa-sort-desc vote-button upvote-button">
</form>

<span id="vote_count"><%= vote_count(votable) %></span>

<form class="vote downvote" action="/votes" method="POST">
  <input type="hidden" name="votable_id" value="<%= votable_id %>">
  <input type="hidden" name="vote" value="-1">
  <input type="hidden" name="votable_type" value="<%= votable_type %>">
  <input type="submit" name="downdoot">
</form>
